.mentors {
    text-align: center;
    padding: 50px;
    background-color: #f1f5f9;
  }
  
  .mentor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
  }
  